@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap");

/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

body {
	padding: 50px 0px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

.border{
	border-bottom: 1px solid #000;
}

.title__text{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 25px;
	line-height: 1.2;
}

.text__first{
	margin-bottom: 10px;
	max-width: 357px;
}

.m {
	display: inline-block;
	width: 18px;
}

.rot:hover {
	top: 0;
	left: 0;
	position: absolute;
	transform: rotate(10deg) translateX(0px);
	transition: 0.3s;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0px 10px;
}

.laptop {
	max-width: 100%;
}

.title {
	font-weight: 500;
	font-size: 27px;
	margin-bottom: 20px;
	transition: 0.3s;
	position: relative;
}

table {
	border-collapse: collapse;
	width: 100%;
}

.head td {
	font-weight: 500;
	font-size: 17px;
}

td {
	font-size: 16px;
	border: 2px solid #000;
	text-align: center;
	padding: 10px 0px;
}

td:hover {
	box-shadow: 0 0 4px #000;
	transition: 0.2s;
}

.button {
	display: block;
	background-color: #000;
	color: #fff;
	line-height: 2;
	width: 76%;
	margin: 0 auto;
	border-radius: 7px;
	font-size: 16px;
	font-weight: 500;
	border: 2px solid #000;
	padding: 0px 4px;
}

.button:hover {
	background-color: #fff;
	color: #000;
	border: 2px solid #000;
	transition: 0.3s;
}

.button:active {
	box-shadow: 0 0 5px #000;
	transition: 0s;
}

/* ______mobile______ */

.mobile {
	margin-top: 30px;
	max-width: 100%;
}

.mobile__title {
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: 500;
}
.mobile {
	display: none;
}

/* стили текстового поля */
.input__p {
	padding: 6px 0px;
	font-size: 15px;
	width: 100px;
	font-size: 18px;
	font-weight: 500;
}

/* стили кнопки */
.button__p {
	width: 50px;
	line-height: 2;
	font-size: 16px;
	font-weight: 500;
	background-color: #121212;
	color: #efefef;
	border: 2px solid #000;
	border-radius: 5px;
}

.button__p:hover {
	background-color: #ffffff;
	color: #000;
	border: 2px solid #000;
}

.button__p:active {
	box-shadow: 0 0 5px #000;
	transition: 0s;
}

/*!------- Media Queries -------- */

/* 992-1200px laptop notebook*/
@media screen and (max-width: 1200px) {
	.container {
		max-width: 900px;
	}
}

/* 768-992px tablet*/
@media screen and (max-width: 992px) {
	.container {
		max-width: 768px;
	}
	.head td {
		font-size: 15px;
	}
	td {
		font-size: 15px;
	}
	.button {
		line-height: 2;
		width: 80%;
		font-size: 14px;
		font-weight: 500;
	}
	.button__p {
		font-size: 14px;
		font-weight: 500;
	}
}

/* 576-768px Mobile*/
@media screen and (max-width: 768px) {
	.container {
		max-width: 576px;
	}
	.laptop {
		display: none;
	}
	.mobile {
		display: block;
		max-width: 100%;
	}
	td {
		font-size: 19px;
	}
	.button {
		line-height: 2;
		width: 60%;
		font-size: 16px;
		font-weight: 500;
	}
	.button__p {
		font-size: 16px;
		font-weight: 500;
	}
}

@media screen and (max-width: 576px) {
	.container {
		max-width: 400px;
	}
	.container {
		max-width: 400px;
	}
	.title {
		font-size: 25px;
	}
	.laptop {
		display: none;
	}
	.mobile {
		display: block;
		max-width: 100%;
	}
	td {
		font-size: 16px;
	}
	.button {
		line-height: 2;
		width: 89%;
		font-size: 14px;
		font-weight: 500;
	}
	.input__p {
		padding: 6px 0px;
		width: 60px;
		font-size: 14px;
		font-weight: 500;
	}
	.title__text{
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 20px;
	line-height: 1.1;
}
}
/*_________________________________________________*/
